---
import MainLayout from '../layouts/main.layout.astro'
import CardComponent from "../components/card.component.astro"

let projects = await Astro.glob("../content/projects/*.md")

projects.sort((a, b) => {
	const dateA = new Date(a.frontmatter.date).getTime()
	const dateB = new Date(b.frontmatter.date).getTime()

	return dateB - dateA
});
---

<MainLayout>
	<section class="section section-home section-home-hero | bg-h">
		<div class="wrapper section__wrapper | mx-auto p-4 flow text-center">
			<h1 class="section-home-hero__heading | text-5xl font-bold">Dav/Devs Frontend Mentor Projects</h1>
			<p>
				Here is a collection of my submissions for the <a href="https://www.frontendmentor.io" target="_blank">Frontend Mentor</a> challenges. I noticed I was doing backend work in my day job, so I used my free time to tackle these frontend projects. I always aim to be well-rounded. My motto for these projects was to keep it raw and straightforward--meaning pure HTML, CSS, and native JavaScript. No fancy stuff like jQuery, React or SASS. This also allowed me to explore new native features like the HTML dialogue element and container queries.
			</p>
		</div>
	</section>

	<section class="section section-hero section-hero-content">
		<div class="bg-h"></div>
		<div class="wrapper section__wrapper | mx-auto py-10 px-6">
			<div class="cards-grid">
				{projects.map((project: any) => (<CardComponent post={project} />))}
			</div>
		</div>
		<div class="bg-f"></div>
	</section>
</MainLayout>
