---
import MainLayout from '../layouts/main.layout.astro'
import PlaceholderComponent from "../components/placeholder.component.astro"
---

<MainLayout>
	<section class="section section-home section-home-hero">
		<div class="wrapper section__wrapper | mx-auto p-4 flow text-center">
			<h1 class="section-home-hero__heading | text-5xl font-bold">Output</h1>
		</div>
	</section>
	
	<section class="section section-hero section-hero-content">
		<div class="wrapper section__wrapper | mx-auto py-10 px-6">
			<pre data-element="pre"></pre>
		</div>
	</section>
</MainLayout>
